.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: green;
  align-items: center;
  min-width: 40%;
}

.recipe h1 {
  padding-top: 10px;
  color: #3f6184;
  font-family: 'Oswald';
}

.recipe a {
  text-decoration: none;
  color: #3f6184;
}

.recipe-details {
  font-family: 'Lato';
  font-size: 20px;
  margin: 20px;
  color: #323a45;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 30px 0px;
}

